.DS_Store
*.csv
__pycache__
*.egg-info

.env

# MT5 specific
Metatrader/MQL5/Include/*
!Metatrader/MQL5/Include/Zmq/
!Metatrader/MQL5/Experts/JsonAPI.ex5
!Metatrader/MQL5/Experts/JsonAPI.mq5
!Metatrader/MQL5/Experts/JsonAPI+Rest.mq5