apiVersion: 1

datasources:
  - name: VictoriaMetrics
    type: prometheus
    access: proxy
    url: http://victoriametrics:8428
    isDefault: true
    editable: false

  # VictoriaLogs: Use built-in UI at http://localhost:9428/select/vmui
  # Plugin not yet in public Grafana registry
